<!DOCTYPE html>
<html>
    <head>
        <title>Single Page</title>
        <script>
            function showSection(section) {   
                fetch(`/sections/${section}`)
                .then(response => response.text())
                .then(text => {
                    console.log(text);
                    document.querySelector('#content').innerHTML = text;
                });
            }
            document.addEventListener("DOMContentLoaded", function() {
                document.querySelectorAll('button').forEach(button => {
                    button.onclick = function() {
                        showSection(this.dataset.section)
                    }
                })
            });
        </script>
    </head>
    <body>
        <center>
        <a href="http://127.0.0.1:8000/character/?format=json">JSON</a><br>
        <a href="http://127.0.0.1:8000/character/?format=api">REST API</a>
        <h1>Character Bios in Pokemon</h1><br>
        {% for hero in characters %}
        <button data-section= {{ forloop.counter0 }}> {{ hero.name }}</button>
        {% endfor %}
        <div id="content">
        </div>
        </center>
    </body>
</html>